@import "@economist/component-typography";
@import "@economist/component-palette";
@import "@economist/component-link-button";
@import "./arrows.css";

.accordion {
  font-size: 1rem;
}

.accordion.list,
.accordion.list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.accordion.list a {
  text-decoration: none;
}

.accordionExpander--not-visible > .content {
  display: none;
}

.accordionExpander--visible > .content {
  display: block;
}
