@import '@economist/component-typography';
@import '@economist/component-palette';

.accordion {
  font-size: 1rem;
}

.accordion__link {
  padding: var(--accordion__link-padding, 0.8em);
  color: var(--accordion__link-color, var(--color-beijing));
  display: block;
}

.accordion > .list__item:not(:last-child) {
  border-bottom: solid 1px var(--color-london);
}

.accordion > .list__item,
.accordion__link {
  font-size: var(--text-size-step-0);
}

.accordion > .list__item {
  font-weight: bold;
}

.accordion > .list__item .list__item {
  font-weight: normal;
  text-indent: 1em;
  font-size: var(--text-size-step--1);
}

.accordion .list__item svg {
  float: left;
  margin-right: 0.8em;
}

.accordion .list__item svg,
.accordion .list__item use {
  fill: var(--accordion__icons-fill, var(--color-chicago));
}
